# Object files
*.o
*.ko
*.obj
*.elf
*.dep

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Python Binaries
*.pyc

# Test Binaries
*_test
*-output
.md5s

#Swap Files
*.swp
*.swo
*.swn
*.swm
*.__*

# User Test binaries
user/progs/test_[a-z\w]*
!user/progs/test_[a-z\w]*.c

# Doxygen Files
doc/
doxygen.warn

# Ignored Specifics
kernel*
*.img
410kern/*
410user/*
temp/*
spec/
update
